body{
    background-color: #FFF;
    background-size: 1920px 1080px;
    background-image: url(../img/love4.jpg);
    color: #FFF;
}
header{
    font-family: 'Forte', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 56px;
    padding:10px;

}

div#cen {
    width: 1000px;
    margin:0 auto;
	padding: 20px;
}